.logo {
    background: white;
  color: rgb(249, 89, 9);
  text-align: center;
  font-size: 438.5%;
  border-radius: 100%;
  width: 7%;
  height: 15%;
  position: absolute;
  top: 10%;
  margin-left: 45%;
  font-family: Poppins;
  font-weight: bold;
  /* font-variant-position: super; */
}

.heading {
    color: white;
    text-align: center;
    font-size: 36px;
    position: relative;
    top: -265px;
}

/* .locationSelector */
.locationDropdown {
    position: relative;
    text-align: center;
    top: -238px;
    margin-left: 31.5%;
    margin-right: 20%;
}

.Dropdown {
    height: 40px;
    width: 245px;
    color: gray;
    border: none;
    border-radius: 0px;
    font-size: 100.5%;
    opacity: 1;
    margin-right: 21px;
    margin-bottom: 25px;
    float: left;
}

.SearchBar {
    height: 40px;
    width: 310px;
    color: #534c4c;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    opacity: 1;
    float: left;
    padding-left: 30px;
}

.search {
    position: absolute;
    left: 34%;
    margin: 1.3% -0.3%;
}

.quicksearch {
    position: absolute;
    margin: 1% 1%;
}

.quicksearchHeading {
    text-align: left;
    padding-left: 5%;
    color: blue;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.quicksearchSubHeading {
    text-align: left;
    padding-left: 5%;
    color: #5e5b5b;
    font-size: 18px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.titleContainer{
  height: 150px;
  width: 350px;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  box-shadow: 0 3px 6px gray;
     float: left;
}
.titleComponent1{
    width: 45%;
  float: left;
}
.titleComponent2{
    width: 50%;
  float: left;
  margin-top: 20px;
}

.componentHeading{
    text-align: left;
  color: #192f60;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.componentSubHeading{
    text-align: left;
  color: gray;
  font-size: 18px;
}

.qs-block {
    box-shadow: 0 3px 6px 0 black;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

.marg-bot {
    margin-bottom: 10px;
  }

